body {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: black;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    cursor: default;
}

a {
    color: blueviolet;
    cursor: pointer;
}

i {
    font-size: 2rem;
}

.pf-name {
    font-size: 10vw;
    align-self: center;
    font-family: 'Dancing Script', cursive;
}

.pf-motto {
    background-color: rgba(138,43,226,0.2);
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    border-radius: 1rem;
    align-self: center;
    font-size: 1rem;
}

.pf-description {align-self: center;margin: 2em;padding: 1em;font-family: monospace;font-size: 1.5em;}

.pf-social {
    align-self: center;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 1em;
    flex-wrap: wrap;
}

.pf-social-button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    transition: color 1s ease-in-out;
}

.pf-social-button:hover {
    color: aliceblue;
}

.pf-services {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 2em;
}

.pf-services-item {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pf-services-item-title {
    background-color: blueviolet;
    align-self: center;
    padding: 0.5em;
    border-radius: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.pf-footer {
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

@media screen and (min-width: 320px) {
    .pf-services{
        flex-direction: column;
    }

    .pf-services-item {
        margin-bottom: 1em;
        margin-top: 1em;
    }
}

@media screen and (min-width: 800px) {
    .pf-services{
        flex-direction: row;
    }
    .pf-services-item {
        margin-bottom: 0em;
        margin-top: 0em;
    }
}